/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.circle{
    width: 100px;
    height: 100px;
    background-color: rgb(236, 215, 183);
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    border: 1px dashed black;
    transition: background-color 7s,transform 1s;
    
}
.circle:hover{
    
    background-color:rgb(135, 120, 97) ;
    /* transform: scale(3,2); 
     transform: rotatey(360deg) ; 
    transform:translate(100px,50px); */
    /* transform: skewx(100deg); */
    
/* }  */
body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.sky{
    height: 240px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(135, 207, 235, 0.656);

}
.grass{
    height: 150px;
    width: 100%;
    background-color:rgba(86, 215, 86, 0.643);
}
.road{
    height: 195px;
    background-color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
    border-top: 7px solid grey;
    border-bottom: 7px solid grey;
    position: relative;
   
}
.line{
    height: 0px;
    border:4px dashed rgb(248, 245, 245);
    width: 100%;
}
.obj{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50px;
    position:absolute;
    top: -.5px;
    animation-name: driver;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-iteration-count: 3;
 
}
@keyframes driver{
    
    from{
        transform: translateX(-px);
        background-color: azure;
    }
    to{transform: translateX(1378px);
        background-color: rgb(238, 255, 0);
        /* width: 100px;
        height: 100px; */
    }
}